.flows.json.backup
[{"id":"a02ef55d.717788","type":"tab","label":"TTN","disabled":false,"info":""},{"id":"7ee010ab.e7a1c","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"7cd98435.9b010c","type":"ttn app","z":"","appId":"rak-au915-sensor","accessKey":"ttn-account-v2.bb2RN2j9ZT4VknL76rcVZak2OSNslW1aU08X6L82J2M","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"6da08aea.63b994","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"73150514.cac08c","type":"ui_group","z":"","name":"Default","tab":"6da08aea.63b994","disp":true,"width":"6","collapse":false},{"id":"d4b4510a.39cb3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2c95cf2d.34dd","type":"ttn uplink","z":"a02ef55d.717788","name":"testboard uplink","app":"7cd98435.9b010c","dev_id":"testboard","field":"","x":140,"y":140,"wires":[["a6d843ed.81697"]]},{"id":"a6d843ed.81697","type":"cayennelpp-decoder","z":"a02ef55d.717788","name":"","x":340,"y":220,"wires":[["78e246ff.5807b8"]]},{"id":"48832b86.554164","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":160,"wires":[]},{"id":"57b52d74.84af14","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":580,"wires":[]},{"id":"56f56294.2fe26c","type":"cayennelpp-decoder","z":"a02ef55d.717788","name":"","x":350,"y":620,"wires":[["57b52d74.84af14","1b21f322.46d5ed"]]},{"id":"dd642fb8.6b5da","type":"ttn uplink","z":"a02ef55d.717788","name":"testboard2 uplink","app":"7cd98435.9b010c","dev_id":"testboard2","field":"","x":150,"y":540,"wires":[["56f56294.2fe26c"]]},{"id":"1b21f322.46d5ed","type":"json","z":"a02ef55d.717788","name":"","property":"payload","action":"","pretty":false,"x":560,"y":700,"wires":[["163758f.4c30ea7"]]},{"id":"163758f.4c30ea7","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":700,"wires":[]},{"id":"a0913776.06e8b8","type":"cayennelpp-decoder","z":"a02ef55d.717788","name":"","x":340,"y":460,"wires":[["e6cbc172.43d71"]]},{"id":"ff4f88bd.7be598","type":"ttn uplink","z":"a02ef55d.717788","name":"","app":"7cd98435.9b010c","dev_id":"rak-7003","field":"","x":120,"y":380,"wires":[["a0913776.06e8b8"]]},{"id":"e6cbc172.43d71","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":420,"wires":[]},{"id":"cfc7ef86.96bbb","type":"function","z":"a02ef55d.717788","name":"decodeCayenneLpp","func":"// https://github.com/FIWARE-GEs/iot-agent.LoraWAN/blob/bfbb71bb24eedbde3beaa610d92c551aa3e12d2d/lib/dataModels/cayenneLpp.js\n'use strict';\n\nconst CAYENNELPP_MAX_CHANNEL = 255;\nconst CAYENNELPP_MIN_SIZE_BYTES = 3;\n\nconst LPP_DIGITAL_INPUT = 0;\nconst LPP_DIGITAL_OUTPUT = 1;\nconst LPP_ANALOG_INPUT = 2;\nconst LPP_ANALOG_OUTPUT = 3;\nconst LPP_LUMINOSITY = 101;\nconst LPP_PRESENCE = 102;\nconst LPP_TEMPERATURE = 103;\nconst LPP_RELATIVE_HUMIDITY = 104;\nconst LPP_ACCELEROMETER = 113;\nconst LPP_BAROMETRIC_PRESSURE = 115;\nconst LPP_GYROMETER = 134;\nconst LPP_GPS = 136;\n\n\n\nmsg.payload = decodeCayenneLpp(msg.payload);\n\n\nconst LPP_DIGITAL_INPUT_NAME = 'digital_in';\nconst LPP_DIGITAL_OUTPUT_NAME = 'digital_out';\nconst LPP_ANALOG_INPUT_NAME = 'analog_in';\nconst LPP_ANALOG_OUTPUT_NAME = 'analog_out';\nconst LPP_LUMINOSITY_NAME = 'luminosity';\nconst LPP_PRESENCE_NAME = 'presence';\nconst LPP_TEMPERATURE_NAME = 'temperature';\nconst LPP_RELATIVE_HUMIDITY_NAME = 'relative_humidity';\nconst LPP_ACCELEROMETER_NAME = 'accelerometer';\nconst LPP_BAROMETRIC_PRESSURE_NAME = 'barometric_pressure';\nconst LPP_GYROMETER_NAME = 'gyrometer';\nconst LPP_GPS_NAME = 'gps';\n\nconst LPP_DIGITAL_INPUT_SIZE = 1; // 1 byte\nconst LPP_DIGITAL_OUTPUT_SIZE = 1; // 1 byte\nconst LPP_ANALOG_INPUT_SIZE = 2; // 2 bytes, 0.01 signed\nconst LPP_ANALOG_OUTPUT_SIZE = 2; // 2 bytes, 0.01 signed\nconst LPP_LUMINOSITY_SIZE = 2; // 2 bytes, 1 lux unsigned\nconst LPP_PRESENCE_SIZE = 1; // 1 byte, 1\nconst LPP_TEMPERATURE_SIZE = 2; // 2 bytes, 0.1°C signed\nconst LPP_RELATIVE_HUMIDITY_SIZE = 1; // 1 byte, 0.5% unsigned\nconst LPP_ACCELEROMETER_SIZE = 6; // 2 bytes per axis, 0.001G\nconst LPP_BAROMETRIC_PRESSURE_SIZE = 2; // 2 bytes 0.1 hPa Unsigned\nconst LPP_GYROMETER_SIZE = 6; // 2 bytes per axis, 0.01 °/s\nconst LPP_GPS_SIZE = 9; // 3 byte lon/lat 0.0001 °, 3 bytes alt 0.01 meter\n\nfunction decodeCayenneLpp(payload) {\n  var result = {};\n  var buffer = Buffer.from(payload, 'hex');\n  if (buffer && validateCayenneLppSize(buffer)) {\n    var cursor = 0;\n    var value;\n    var propertyName;\n    while (cursor < buffer.length) {\n      var channel = buffer.readUInt8(cursor);\n      if (validateCayenneLppChannel(channel)) {\n        cursor++;\n        var type = buffer[cursor];\n        cursor++;\n\n        switch (type) {\n          case LPP_DIGITAL_INPUT:\n\n            if (cursor + LPP_DIGITAL_INPUT_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer[cursor];\n              cursor++;\n              propertyName = LPP_DIGITAL_INPUT_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_DIGITAL_OUTPUT:\n            if (cursor + LPP_DIGITAL_OUTPUT_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer[cursor];\n              cursor++;\n              propertyName = LPP_DIGITAL_OUTPUT_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_ANALOG_INPUT:\n            if (cursor + LPP_ANALOG_INPUT_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer.readInt16BE(cursor) / 100.0;\n              cursor += 2;\n              propertyName = LPP_ANALOG_INPUT_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_ANALOG_OUTPUT:\n            if (cursor + LPP_ANALOG_OUTPUT_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer.readInt16BE(cursor) / 100.0;\n              cursor += 2;\n              propertyName = LPP_ANALOG_OUTPUT_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_LUMINOSITY:\n            if (cursor + LPP_LUMINOSITY_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer.readInt16BE(cursor);\n              cursor += 2;\n              propertyName = LPP_LUMINOSITY_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_PRESENCE:\n            if (cursor + LPP_PRESENCE_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer[cursor];\n              cursor++;\n              propertyName = LPP_PRESENCE_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_TEMPERATURE:\n            if (cursor + LPP_TEMPERATURE_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer.readInt16BE(cursor) / 10.0;\n              cursor += 2;\n              propertyName = LPP_TEMPERATURE_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_RELATIVE_HUMIDITY:\n            if (cursor + LPP_RELATIVE_HUMIDITY_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer[cursor] / 2.0;\n              cursor++;\n              propertyName = LPP_RELATIVE_HUMIDITY_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_ACCELEROMETER:\n            if (cursor + LPP_ACCELEROMETER_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              var varAccX = buffer.readInt16BE(cursor) / 1000.0;\n              cursor += 2;\n              var varAccY = buffer.readInt16BE(cursor) / 1000.0;\n              cursor += 2;\n              var varAccZ = buffer.readInt16BE(cursor) / 1000.0;\n              cursor += 2;\n              value = {\n                x: varAccX,\n                y: varAccY,\n                z: varAccZ\n              };\n              propertyName = LPP_ACCELEROMETER_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_BAROMETRIC_PRESSURE:\n            if (cursor + LPP_BAROMETRIC_PRESSURE_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              value = buffer.readInt16BE(cursor) / 10.0;\n              cursor += 2;\n              propertyName = LPP_BAROMETRIC_PRESSURE_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_GYROMETER:\n            if (cursor + LPP_GYROMETER_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              var varX = buffer.readInt16BE(cursor) / 100.0;\n              cursor += 2;\n              var varY = buffer.readInt16BE(cursor) / 100.0;\n              cursor += 2;\n              var varZ = buffer.readInt16BE(cursor) / 100.0;\n              cursor += 2;\n              value = {\n                x: varX,\n                y: varY,\n                z: varZ\n              };\n              propertyName = LPP_GYROMETER_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n          case LPP_GPS:\n            if (cursor + LPP_GPS_SIZE > buffer.length) {\n              throw new Error('Invalid CayennLpp message');\n            } else {\n              var latitude = readInt24BE(buffer, cursor) / 10000.0;\n              cursor += 3;\n              var longitude = readInt24BE(buffer, cursor) / 10000.0;\n              cursor += 3;\n              var altitude = readInt24BE(buffer, cursor) / 100.0;\n              cursor += 3;\n              value = {\n                latitude: latitude,\n                longitude: longitude,\n                altitude: altitude\n              };\n              propertyName = LPP_GPS_NAME + '_' + channel.toString();\n              result[propertyName] = value;\n            }\n            break;\n        }\n      } else {\n        throw new Error('Invalid CayennLpp channel');\n      }\n    }\n  } else {\n    throw new Error('Invalid CayennLpp buffer size');\n  }\n\n  return result;\n}\n\n/**\n * It validates the size of a CayenneLpp message\n *\n * @param      {<type>}   buffer  The buffer\n * @return     {boolean}  { description_of_the_return_value }\n */\nfunction validateCayenneLppSize(buffer) {\n  var result = false;\n  if (buffer && buffer.length >= CAYENNELPP_MIN_SIZE_BYTES) {\n    result = true;\n  }\n\n  return result;\n}\n\n/**\n * It validates the a CayenneLpp channel\n *\n * @param      {<type>}   buffer  The buffer\n * @return     {boolean}  { description_of_the_return_value }\n */\nfunction validateCayenneLppChannel(channel) {\n  var result = true;\n\n  if (channel > CAYENNELPP_MAX_CHANNEL) {\n    result = false;\n  }\n\n  return result;\n}\n\n/**\n * It reads an integer represented using 24 bits\n *\n * @param      {<type>}  buf     The buffer\n * @param      {number}  offset  The offset\n * @return     {<type>}  { description_of_the_return_value }\n */\nfunction readInt24BE(buf, offset) {\n  return buf.readIntBE(offset, 3);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[[]]},{"id":"3de5e4b4.95802c","type":"switch","z":"7ee010ab.e7a1c","name":"If tempc > 15","property":"payload.tempc","propertyType":"msg","rules":[{"t":"gt","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":280,"wires":[[]]},{"id":"1cc0ce16.92fc92","type":"weather","z":"7ee010ab.e7a1c","name":"","longitude":"144.96332","latitude":"-37.814","x":440,"y":220,"wires":[["541a91a6.40299"]]},{"id":"9a103eed.661d8","type":"inject","z":"7ee010ab.e7a1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["1cc0ce16.92fc92"]]},{"id":"541a91a6.40299","type":"debug","z":"7ee010ab.e7a1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":220,"wires":[]},{"id":"6c6ca363.11e66c","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"{\"accelerometer_4\":{\"x\":0.097,\"y\":-0.037,\"z\":0.883}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":880,"wires":[["cc2bd0f3.d77d1"]]},{"id":"b580bf36.7ec9d","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"{\"analog_in_7\":42.03}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":920,"wires":[[]]},{"id":"eca4086a.a44db8","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"{\"gyrometer_5\":{\"x\":0,\"y\":0,\"z\":0}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":960,"wires":[[]]},{"id":"74b2abfc.a8cc74","type":"change","z":"a02ef55d.717788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.temp\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1500,"wires":[["cf6e89a0.c7d3e8"]]},{"id":"e1f46623.b645b8","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"{\"topic\":\"tele/Mysonoff_TH10/SENSOR\",\"payload\":\"{\\\"Time\\\":\\\"2018-12-21T16:51:09\\\",\\\"AM2301\\\":{\\\"Temperature\\\":69.4,\\\"Humidity\\\":33.9},\\\"TempUnit\\\":\\\"F\\\"}\",\"qos\":0,\"retain\":false,\"_topic\":\"tele/Mysonoff_TH10/SENSOR\",\"_msgid\":\"dae7f7bc.36e5f8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1800,"wires":[[]]},{"id":"8196382a.1fe898","type":"function","z":"a02ef55d.717788","name":"","func":"p=JSON.parse(msg.payload);\n//p=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.temp;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1240,"wires":[["bc354db8.f211f"]]},{"id":"bc354db8.f211f","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1100,"wires":[]},{"id":"c06645fb.c9f6d8","type":"json","z":"a02ef55d.717788","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1160,"wires":[["8196382a.1fe898"]]},{"id":"c190257b.c49618","type":"inject","z":"a02ef55d.717788","name":"JSON DATA","topic":"","payload":"{\"topic\":\"test/s1\",\"temp\":20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1180,"wires":[["8196382a.1fe898"]]},{"id":"c2664b87.5df148","type":"inject","z":"a02ef55d.717788","name":"JSON2","topic":"","payload":"{\"topic\":\"test/s1\",\"data\":{\"temp\":20,\"humidity\":30}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1420,"wires":[["74b2abfc.a8cc74","cf6e89a0.c7d3e8"]]},{"id":"b7a31368.f355a","type":"switch","z":"a02ef55d.717788","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"accelerometer_4.x","vt":"jsonata"},{"t":"eq","v":"accelerometer_4.y","vt":"jsonata"},{"t":"eq","v":"accelerometer_4.x","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":1540,"wires":[[],[],[]]},{"id":"80a45feb.41d73","type":"function","z":"a02ef55d.717788","name":"Average,Max Min","func":"var data=context.get('data') || {};\nvar data2=context.get('data2') || {};\nvar period=5; //15 seconds\nvar d=new Date();\nnow=d.getTime();\n\nif (data2[\"count\"]===undefined)\n{\n    data2[\"count\"]=0;\n    //node.log(\"data.count is undefined\");\n}\ndata[\"sensor_id\"]=\"0001\";\ndata[\"sensor_type\"]=\"power\";\nif (data[\"max\"]===undefined)\n    data[\"max\"]=msg.payload;\nif (data[\"min\"]===undefined)\n    data[\"min\"]=msg.payload;\nif (data[\"average\"]===undefined)\n    data[\"average\"]=0;\nif (data2[\"stime\"]===undefined)\n    data2[\"stime\"]=now;\n\nvar count=data2.count;\ndata2.count+=1;\n\nif (count !=0)\n    data.average=((data.average * count)+msg.payload)/data2.count;\nelse\n    data.average=msg.payload;\nnode.log(data2.count +\"  \"+data.average);\nif (msg.payload>data.max)\n    data.max=msg.payload;\nif (msg.payload<data.min)\n    data.min=msg.payload;\nif ((data2[\"stime\"]+period*1000)<now)\n{\n\n    var out=JSON.stringify(data);\n    msg.payload=out;\n    data={}; //clear\n    context.set('data',data);\n    data2={}; //clear\n    context.set('data2',data2);\n    return msg;\n}\n\ncontext.set('data',data);\ncontext.set('data2',data2);\nreturn null;","outputs":1,"noerr":0,"x":400,"y":1600,"wires":[["657daff5.91ee8"]]},{"id":"aec71533.d1bd08","type":"function","z":"a02ef55d.717788","name":"Create Json","func":"var data={\"temp\":30,\"humidity\":80};\nnode.log(typeof data);\n//msg.payload= JSON.stringify(data);\nmsg.payload= data;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1080,"wires":[["bc354db8.f211f","c06645fb.c9f6d8"]]},{"id":"1b73306b.05682","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1100,"wires":[["aec71533.d1bd08"]]},{"id":"4561764.c07ba88","type":"function","z":"a02ef55d.717788","name":"","func":"//p=JSON.parse(msg.payload);\np=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.data.temp;\n//msg.payload=p[\"data\"][\"temp\"];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1380,"wires":[["bc354db8.f211f"]]},{"id":"cf6e89a0.c7d3e8","type":"debug","z":"a02ef55d.717788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1440,"wires":[]},{"id":"97c138ba.5bc668","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1560,"wires":[["80a45feb.41d73"]]},{"id":"7a200245.a51e4c","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1640,"wires":[["80a45feb.41d73"]]},{"id":"e5265411.a909a8","type":"inject","z":"a02ef55d.717788","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1700,"wires":[["80a45feb.41d73"]]},{"id":"657daff5.91ee8","type":"debug","z":"a02ef55d.717788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":1660,"wires":[]},{"id":"835bf377.b3a24","type":"function","z":"a02ef55d.717788","name":"","func":"p=JSON.parse(msg.payload);\nmsg1 = {}\nmsg2 = {}\n//p=msg.payload;\nnode.log(typeof p);\nmsg.payload=p.accelerometer_4.x;\nmsg1.payload=p.accelerometer_4.y;\nmsg2.payload=p.accelerometer_4.z;\n\n\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":830,"y":340,"wires":[["9398845e.546078"],["c75ad0ba.00545"],["16982285.9e203d"]]},{"id":"cc2bd0f3.d77d1","type":"change","z":"a02ef55d.717788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.accelerometer_4.x","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":860,"wires":[[]]},{"id":"78e246ff.5807b8","type":"json","z":"a02ef55d.717788","name":"","property":"payload","action":"str","pretty":false,"x":530,"y":300,"wires":[["48832b86.554164","835bf377.b3a24"]]},{"id":"9398845e.546078","type":"debug","z":"a02ef55d.717788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":320,"wires":[]},{"id":"c75ad0ba.00545","type":"debug","z":"a02ef55d.717788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":360,"wires":[]},{"id":"16982285.9e203d","type":"debug","z":"a02ef55d.717788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":400,"wires":[]}]