.flows.json.backup
[{"id":"a02ef55d.717788","type":"tab","label":"TTN","disabled":false,"info":""},{"id":"7cd98435.9b010c","type":"ttn app","z":"","appId":"rak-au915-sensor","accessKey":"ttn-account-v2.bb2RN2j9ZT4VknL76rcVZak2OSNslW1aU08X6L82J2M","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"2c95cf2d.34dd","type":"ttn uplink","z":"a02ef55d.717788","name":"","app":"7cd98435.9b010c","dev_id":"testboard","field":"","x":120,"y":140,"wires":[["a6d843ed.81697"]]},{"id":"a6d843ed.81697","type":"cayennelpp-decoder","z":"a02ef55d.717788","name":"","x":340,"y":220,"wires":[["48832b86.554164"]]},{"id":"48832b86.554164","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":180,"wires":[]},{"id":"57b52d74.84af14","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":580,"wires":[]},{"id":"56f56294.2fe26c","type":"cayennelpp-decoder","z":"a02ef55d.717788","name":"","x":350,"y":620,"wires":[["57b52d74.84af14","1b21f322.46d5ed"]]},{"id":"dd642fb8.6b5da","type":"ttn uplink","z":"a02ef55d.717788","name":"","app":"7cd98435.9b010c","dev_id":"testboard2","field":"","x":130,"y":540,"wires":[["56f56294.2fe26c"]]},{"id":"1b21f322.46d5ed","type":"json","z":"a02ef55d.717788","name":"","property":"payload","action":"","pretty":false,"x":560,"y":700,"wires":[["163758f.4c30ea7"]]},{"id":"163758f.4c30ea7","type":"debug","z":"a02ef55d.717788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":700,"wires":[]},{"id":"a0913776.06e8b8","type":"cayennelpp-decoder","z":"a02ef55d.717788","name":"","x":340,"y":460,"wires":[["e6cbc172.43d71"]]},{"id":"ff4f88bd.7be598","type":"ttn uplink","z":"a02ef55d.717788","name":"","app":"7cd98435.9b010c","dev_id":"rak-7003","field":"","x":120,"y":380,"wires":[["a0913776.06e8b8"]]},{"id":"e6cbc172.43d71","type":"debug","z":"a02ef55d.717788","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":420,"wires":[]}]